header{
  height: 80px;
  padding-top: 10px;
  background-color: rgb(241, 241, 111);
}

header h1{
  color: orange;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

header ul li a{
  color: rgba(248, 180, 52, 0.863);
  font-size: 20px;
}

header ul li a:hover{
  color: rgb(255, 168, 7);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: rgba(248, 180, 52, 0.863);
}