main{
  text-align: center;
  background-image:linear-gradient(to top, rgb(58, 250, 58), rgb(241, 241, 111));
  padding-top: 30px;
}

main h1{
  color: rgb(14, 119, 14);
}

table thead tr th{
  color: rgb(16, 99, 16);
}